@{
    ViewBag.Title = "Conversations With Ananda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">


    <div class="col-md-12">

        <h3>Sometimes we just need...</h3>
        <p>
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-play"></span>&nbsp; the voice of a Muse</li>
                <li><span class="glyphicon glyphicon-play"></span>&nbsp; a container to have an honest, open conversation</li>
            </ul>
        </p>

        <h3>Are you ready...</h3>
        <p>
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-play"></span>&nbsp; to allow what's inside of you to come forward and breathe life again?</li>
                <li><span class="glyphicon glyphicon-play"></span>&nbsp; to connect with the voice of a Muse?</li>
                <li><span class="glyphicon glyphicon-play"></span>&nbsp; for raw, honest conversation?</li>
                <li><span class="glyphicon glyphicon-play"></span>&nbsp; for a gentle, compassionate presence and an open mind to hear and see you?</li>
            </ul>
        </p>

        <h3><span class="glyphicon glyphicon-hand-right"></span>&nbsp;<a href="/About/Index">Learn more...</a></h3>
    </div>
</div>



