@{
    ViewBag.Title = "About Ananda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-md-4">
        <div class="well">

            <h3>Ananda.  A woman of...</h3>
            <p>
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; fierce love</li>
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; tender charm</li>
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; flirtatious lightness</li>
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; artistry of the heart and soul</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3>Ananda.  A woman whose style is...</h3>
            <p>
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; unique openness</li>
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; soulful love</li>
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; grace</li>
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; compassion</li>
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; beauty</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-md-4">

        <div class="well">
            <h3>Ananda.  A woman who loves...</h3>
            <p>
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; deep connection</li>
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; unbridled honesty</li>
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; allowing the moment to speak</li>
                    @*<li><span class="glyphicon glyphicon-play"></span>&nbsp; going with the flow</li>  *@
                    <li><span class="glyphicon glyphicon-play"></span>&nbsp; sharing laughter or tears</li>
                </ul>
            </p>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-12">
        <h3><span class="glyphicon glyphicon-hand-right"></span>&nbsp;<a href="/Contact/Index">Contact Ananda...</a></h3>
    </div>
</div>
